#banner
	.banner_content
		%h1 NoteNote
		%p Your online notebook. Never forget an idea again.
		%button= link_to "Sign Up", new_user_registration_path

#testimonial
	.wrapper
		%p.quote "The greatest notebook application. Period."
		%p.name - Mr.Nobody

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Liberty City 
				%p Mussum Ipsum, cacilds vidis litro abertis. Viva Forevis aptent taciti sociosqu ad litora torquent Atirei o pau no gatis, per gatis num morreus. Suco de cevadiss deixa as pessoas mais interessantiss. Quem num gosti di mum que vai caçá sua turmis!

			.callout
				%h2 San Andreas
				%p Quem num gosta di mé, boa gente num é. Per aumento de cachacis, eu reclamis. Mé faiz elementum girarzis, nisi eros vermeio. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.

			.callout
				%h2 Vice City
				%p Si num tem leite então bota uma pinga aí cumpadi! Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Leite de capivaris, leite de mula manquis. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!
#bottom_cta
	.wrapper
		%h2 For Realz!
		%p I want you to sign up... If you don’t. I will find you!
		%button= link_to "Click Meee!!!", new_user_registration_path

%footer
	%p &copy; Mr.Nobody